<!DOCTYPE html>
<html lang="en">
<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
<meta name="x-apple-disable-message-reformatting"/>
</head>
<body style="">
<h3>
<img alt="logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1maW5nZXJwcmludC1pY29uIGx1Y2lkZS1maW5nZXJwcmludCI+PHBhdGggZD0iTTEyIDEwYTIgMiAwIDAgMC0yIDJjMCAxLjAyLS4xIDIuNTEtLjI2IDQiLz48cGF0aCBkPSJNMTQgMTMuMTJjMCAyLjM4IDAgNi4zOC0xIDguODgiLz48cGF0aCBkPSJNMTcuMjkgMjEuMDJjLjEyLS42LjQzLTIuMy41LTMuMDIiLz48cGF0aCBkPSJNMiAxMmExMCAxMCAwIDAgMSAxOC02Ii8+PHBhdGggZD0iTTIgMTZoLjAxIi8+PHBhdGggZD0iTTIxLjggMTZjLjItMiAuMTMxLTUuMzU0IDAtNiIvPjxwYXRoIGQ9Ik01IDE5LjVDNS41IDE4IDYgMTUgNiAxMmE2IDYgMCAwIDEgLjM0LTIiLz48cGF0aCBkPSJNOC42NSAyMmMuMjEtLjY2LjQ1LTEuMzIuNTctMiIvPjxwYXRoIGQ9Ik05IDYuOGE2IDYgMCAwIDEgOSA1LjJ2MiIvPjwvc3ZnPgo=" />
&nbsp;Login verification code
</h3>
<div>
Enter the code
<p style="font-size: 1.5em; font-weight: bold;">{{.Code}}</p>
to verify your login.
</div>
<div>
Host
{{.Host}}
Country
{{.Country}}
City
{{.City}}
Lon
{{.Lon}}
Lat
{{.Lat}}
</div>
</body>
</html>
